*{
    margin: 0;
    font-family: Helvetica, sans-serif;
    /* background-color: #11131F; */
}

body{
     background-image: url(image8.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     height: 600px;
}

.nav{
    margin:40px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav a{
    text-decoration: none;
}

.nav .left-nav span{
    font-size: 18px;
}

.nav .right-nav .signup-btn{
    color: white;
    font-size: 14px;
    margin-right: 20px;
    transition: 0.3s all ease;
}
.nav .right-nav .signup-btn:hover{
    color: #FDD604
    
}

.nav .right-nav .login-btn{
    font-size: 14px;
    background-color: #fff;
    padding: 12px 22px 12px 22px;
    border-radius: 20px;
    color: black;
    transition: 0.3s all ease;
}

.nav .right-nav .login-btn:hover{
    background-color: #FDD604;
}



.container{
    margin-top: 100px;
}

.container .text{
    
    justify-self: center;
    text-align: center;
    font-size: 55px;
    color: #FFE4CF;
    max-width: 1100px;
}


.container .image img{
    height: 600px;
}

.container .image{
    justify-self: center;
    margin-top: -250px;
}